{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <br>
            <div class="jumbotron">
                <h1 class="display-4">myAgenda</h1>
                <p class="lead">Bienvenue sur myAgenda</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Liste des contacts</a>
                <a class="btn btn-primary btn-lg" href="/contact/ajout" role="button">Ajouter un contact</a>
                <a class="btn btn-primary btn-lg" href="/contact/edit" role="button">Modifier un contact</a>
            </div>
    </div>
{% endblock %}
